<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supporto e FAQ</title>
  <style>
    body {
      font-family: sans-serif;
      margin: 0;
      padding: 20px;
      background-color: rgb(238, 238, 238);
    }

    h1, h2 {
      text-align: center;
    }

    p {
      text-align: left;
      margin-left: 20px; /* Aggiungi margine sinistro */
    }

    section {
      margin-bottom: 20px; /* Aggiungi spazio tra le sezioni */
    }
  </style>
</head>
<body>
  <h1>Supporto</h1>
  <h2>Stai avendo problemi con il sito? Contatta il centro assistenza tramite Email o Numero di telefono nella sezione contatti nella parte di supporto.</h2>

  <h2>Domande frequenti (FAQ)</h2>

  <section>
    <h3>Q.1 Le immagini usate sul nostro sito sono approvate?</h3>
    <p>A.1 Tutte le immagini usate sul sito sono state approvate e in conformità con i diritti di immagine.</p>
  </section>

  <section>
    <h3>Q.2 Posso utilizzare le varie immagini usate nel sito a scopo personale?</h3>
    <p>A.2 Si è possibile utilizzare le immagini presenti nel sito finché non sono usate a scopo di lucro.</p>
  </section>

  <section>
    <h3>Q.3 E' possibile diventare un collaboratore per il sito?</h3>
    <p>A.3 Certo in caso sei interessato ad aiutare contatta l'email nella sezione contatti.</p>
  </section>

  <section>
    <h3>Q.4 E' possibile comprare le varie forme d'arte illustrate sul sito?</h3>
    <p>A.4 No questo sito esiste esclusivamente per la visione di varie forme d'arte.</p>
  </section>

  <section>
    <h3>Q.5 Se decido di inserire le mie forme d'arte sul sito sono coperte da copyright?</h3>
    <p>A.5 Si tutte le immagini sul sito sono coperte da copyright.</p>
  </section>

  <section>
    <h3>Q.6 Se decido di mettere le mie forme d'arte sul sito diventano proprietà del sito?</h3>
    <p>A.6 No il proprietario originale delle varie forme d'arte sul sito ritiene la loro proprietà il sito ha solo diritto di immagine e di uso.</p>
  </section>
</body>
</html>
